{% extends 'front/base.html' %}
{% block conteudo%}
  <form action="{% url 'produtos' %}" method="post">
    {% csrf_token %}
    <div style="text-align: center" class="container">
      <h1> Cadastro de Produtos </h1>
      Nome <input name="nome" class="form-control-sm" type="text"><br>
      <br>
      tipo <input name="tipo" class="form-control-sm" type="text"><br>
      <br>
      valor <input name="valor" class="form-control-sm" type="number"><br>
      <br>
      estoque <input name="estoque" class="form-control-sm" type="number"><br>
      <br>
      <button class="form-control-sm" type="submit">Enviar</button>
      <br><br><br>
      <button style="align-content: center ">
        <a style="text-decoration: none;color: black" href="{% url 'listaprodutos' %}">Lista de Produtos</a>
      </button>
    </div>
  </form>


{% endblock %}